<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="FirstCry.Add_To_Cart"/>
      <class name="FirstCry.Login"/>
      <class name="FirstCry.Checkout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
